
body {
     font-family: "Open Sans";
} 



h4{
font-family: "Open Sans";
}

h2{
	font-family: "Open Sans";
	font-size: 12px;
}

#footer {
	background-color: black;
color: #aaaaaa;
padding-top: 3em;
padding-bottom: 3em;
}

#footer a{
	color: #aaaaaa;
}

#footer a:hover{
color: #dddddd;
}

.social a{
	font-size: 24px;
}

.navbar-transparent {
	background-color: rgba(0,0,0,0,7);
}

#wrapper{
	background-image: url("../Images/Background/Background.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 280px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0,5);
}

.spacer {
	height: 25em;
}

.feature p{
font-weight: 300;
letter-spacing: 1px;
font-size: 12px;
}

.feature img{
	margin-top: 3em;
} 

#wrapper h1{
font-size: 50px;
}

#wrapper h2{
	font-size: 24px;
	margin-bottom: 1em;
}